#appName > h3 {
    text-align: center;
    padding: 10px 5px 10px 5px;
}

#tableName > h5 {
    text-align: center;
    padding: 10px 5px 10px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#perCourse > ul li {
    margin: 5px 5px 5px 5px;
    text-decoration: none;
    display: inline-block;
}

table {
    text-align: center;
    vertical-align: central;
}

.btn-success {
    margin-right: 5px;
}

.btn-danger {
    margin-left: 5px;
}

#menuList > ul li {
    margin: 5px 5px 5px 5px;
    text-decoration: none;
    display: inline-block;
}

#foo {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.recordList {
    text-decoration: none;
    list-style: none;
}
